player-connection-mode=Listen
player-connection-guid=980835395
player-connection-debug=0
player-connection-project-name=Tangram test
player-connection-ip=192.168.15.1
player-connection-ip=192.168.6.1
player-connection-ip=192.168.0.159
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
xrsdk-pre-init-library=OculusXRPlugin
xr-meta-enabled=1
xr-vulkan-extension-fragment-density-map-enabled=1
build-guid=049c9dc51fab45ea826589d847a8ca30
